.returning-user-homepage {
  	width: 100%;
  	height: 1297px;
  	position: relative;
  	background-color: #f8fafc;
  	overflow: hidden;
  	text-align: left;
  	font-size: 18px;
  	color: #0f172a;
  	font-family: Montserrat;
}
.header {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	background-color: #f8fafc;
  	border-bottom: 1px solid rgba(176, 198, 248, 0.1);
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 16px 20px;
  	gap: 20px;
  	text-align: center;
  	font-size: 24px;
  	font-family: 'Material Symbols Outlined';
}
.container {
  	display: flex;
  	align-items: center;
  	gap: 16px;
}
.button {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 4px;
  	border: 0;
  	background: transparent;
  	cursor: pointer;
}
.container2 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.text {
  	width: 24px;
  	height: 32px;
  	position: relative;
  	line-height: 32px;
  	font-weight: 100;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.heading-1 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-family: Montserrat;
}
.edulearn {
  	position: relative;
  	line-height: 120%;
}
.button2 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 8px;
  	position: relative;
  	isolation: isolate;
}
.container3 {
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	z-index: 0;
}
.backgroundborder {
  	width: 8px;
  	height: 8px;
  	position: absolute;
  	margin: 0 !important;
  	top: 8px;
  	right: 7.98px;
  	border-radius: 9999px;
  	background-color: #c47e08;
  	border: 2px solid #f8fafc;
  	box-sizing: border-box;
  	z-index: 1;
}
.welcome-section {
  	position: absolute;
  	width: calc(100% - 32px);
  	top: 104px;
  	right: 8px;
  	left: 24px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.heading-12 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.welcome-back-winnie {
  	position: relative;
  	line-height: 28px;
	font-size: 24px;
	font-weight: 700;
}
.container4 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 16px;
  	color: #475569;
}
.section-ai-recommendation-ca {
  	position: absolute;
  	width: calc(100% - 32px);
	height: 247px;
  	top: 184px;
  	right: 16px;
  	left: 16px;
  	box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  	border-radius: 24px;
  	background-color: #1152d4;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px;
  	box-sizing: border-box;
  	isolation: isolate;
  	font-size: 72px;
  	color: #fff;
  	font-family: 'Material Icons';
}
.container5 {
  	margin: 0 !important;
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 16px;
  	opacity: 0.1;
  	z-index: 0;
  	flex-shrink: 0;
}
.text3 {
  	width: 72px;
  	height: 72px;
  	position: relative;
  	line-height: 72px;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.container6 {
  	align-self: stretch;
  	height: 199px;
  	position: relative;
  	z-index: 1;
  	flex-shrink: 0;
  	font-size: 14px;
  	color: #f8fafc;
  	font-family: Montserrat;
}
.overlay {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 9999px;
  	background-color: rgba(255, 255, 255, 0.2);
  	display: none;
  	align-items: flex-start;
  	padding: 4px 12px;
  	font-size: 10px;
  	color: #fff;
}
.ai-recommended {
  	height: 15px;
  	width: 105.2px;
  	position: relative;
  	line-height: 15px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.heading-2 {
  	position: absolute;
  	width: 100%;
  	top: 39px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 18px;
}
.container7 {
  	position: absolute;
  	width: 100%;
  	top: 71px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container8 {
  	position: absolute;
  	width: 100%;
  	top: 115px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	gap: 16px;
}
.overlay2 {
  	height: 8px;
  	flex: 1;
  	position: relative;
  	border-radius: 9999px;
  	background-color: rgba(255, 255, 255, 0.2);
  	overflow: hidden;
}
.background {
  	position: absolute;
  	height: 100%;
  	width: 74.98%;
  	top: 0px;
  	right: 25.02%;
  	bottom: 0px;
  	left: 0%;
  	background-color: #f59e0b;
}
.container9 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.div {
  	position: relative;
  	line-height: 120%;
  	font-weight: 500;
}
.button3 {
  	position: absolute;
  	width: 100%;
  	top: 155px;
  	right: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #f59e0b;
  	border: 0;
  	cursor: pointer;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 0px;
  	box-sizing: border-box;
  	isolation: isolate;
  	text-align: center;
  	font-size: 16px;
}
.buttonshadow {
  	height: 100%;
  	width: 100%;
  	position: absolute;
  	margin: 0 !important;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 16px;
  	background-color: rgba(255, 255, 255, 0);
  	z-index: 0;
  	flex-shrink: 0;
}
.resume-lesson {
  	position: relative;
  	line-height: 120%;
  	z-index: 1;
  	flex-shrink: 0;
}
.section-daily-quiz-card {
  	position: absolute;
  	width: calc(100% - 48px);
  	top: 468px;
  	right: 28px;
  	left: 20px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 8px 0px 0px;
  	box-sizing: border-box;
}
.container10 {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-end;
  	justify-content: space-between;
  	gap: 20px;
}
.link {
  	height: 24px;
  	width: 80px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.frame-parent {
  	position: absolute;
  	top: 520px;
  	left: 20px;
  	right: 20px;
  	width: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 21px;
}
.backgroundbordershadow-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: stretch;
  	flex-wrap: wrap;
  	gap: 15px;
}
.backgroundbordershadow {
  	height: 126px;
  	width: auto;
  	flex: 1 1 160px;
  	min-width: 0;
  	position: relative;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 12px;
  	background-color: #f8fafc;
  	border: 1px solid #e2e8f0;
  	box-sizing: border-box;
	
}
.container11 {
  	position: absolute;
  	width: calc(100% - 34px);
  	top: 49px;
  	right: 17px;
  	left: 17px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container12 {
  	position: absolute;
  	width: calc(100% - 26.2px);
  	top: 85px;
  	right: 13.08px;
  	left: 13.12px;
  	border-radius: 21053300px;
  	background-color: #b0c6f8;
  	height: 4px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 34.4px 0px 0px;
  	box-sizing: border-box;
}
.container13 {
  	align-self: stretch;
  	height: 4px;
  	position: relative;
  	border-radius: 21053300px;
  	background-color: #124cc9;
}
.paragraph {
  	position: absolute;
  	width: calc(100% - 26.2px);
  	top: 97px;
  	right: 13.08px;
  	left: 13.12px;
  	height: 15px;
  	font-size: 10px;
  	color: #94a3b8;
}
.of-monthly-goal {
  	position: absolute;
  	top: 0.25px;
  	left: 0px;
  	line-height: 15px;
}
.paragraph2 {
  	position: absolute;
  	width: calc(100% - 26.2px);
  	top: 107px;
  	right: 13.08px;
  	left: 13.12px;
  	height: 15px;
}
.text4 {
  	position: absolute;
  	top: 17px;
  	left: 17px;
  	width: 105.8px;
  	height: 32px;
  	font-size: 12px;
}
.lessons-completed {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 16px;
  	display: inline-block;
  	width: 70px;
}
.backgroundbordershadow2 {
  	height: 126px;
  	width: auto;
  	flex: 1 1 160px;
  	min-width: 0;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 12px;
  	background-color: #f8fafc;
  	border: 1px solid #e2e8f0;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 16px;
  	gap: 8px;
  	font-size: 24px;
  	color: #124cc9;
}
.container14 {
  	align-self: stretch;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
  	font-family: 'Material Icons';
}
.text5 {
  	height: 24px;
  	width: 24px;
  	display: flex;
  	align-items: flex-start;
}
.schedule {
  	position: relative;
  	line-height: 24px;
}
.text6 {
  	height: 16px;
  	width: 80px;
  	display: flex;
  	align-items: flex-start;
  	font-size: 12px;
  	color: #0f172a;
  	font-family: Montserrat;
}
.time-spent {
  	position: relative;
  	line-height: 16px;
}
.container15 {
  	width: 129px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 20px;
  	color: #0f172a;
}
.paragraph3 {
  	align-self: stretch;
  	height: 15px;
  	position: relative;
  	font-size: 10px;
  	color: #94a3b8;
}
.section-storage-achievemen {
  	align-self: stretch;
  	height: auto;
  	display: flex;
  	align-items: flex-start;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	gap: 16px;
  	font-size: 24px;
  	color: #124cc9;
}
.backgroundbordershadow3 {
  	align-self: auto;
  	flex: 1 1 160px;
  	min-height: 126px;
  	min-width: 0;
  	position: relative;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 12px;
  	background-color: #f8fafc;
  	border: 1px solid #e2e8f0;
}
.container16 {
  	position: absolute;
  	width: calc(100% - 34px);
  	top: 17px;
  	right: 17px;
  	left: 17px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
  	font-family: 'Material Icons Outlined';
}
.container18 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 12px;
  	color: #0f172a;
  	font-family: Montserrat;
}
.container19 {
  	position: absolute;
  	width: calc(100% - 34px);
  	top: 49px;
  	right: 17px;
  	left: 17px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 18px;
  	color: #0f172a;
}
.overlay3 {
  	position: absolute;
  	width: calc(100% - 34px);
  	top: 85px;
  	right: 17px;
  	left: 17px;
  	border-radius: 9999px;
  	background-color: #b0c6f8;
  	height: 6px;
}
.background2 {
  	position: absolute;
  	height: 100%;
  	width: 24.03%;
  	top: 0px;
  	right: 75.97%;
  	bottom: 0px;
  	left: 0%;
  	border-radius: 9999px;
  	background-color: #124cc9;
}
.container20 {
  	position: absolute;
  	width: calc(100% - 34px);
  	top: 95px;
  	right: 17px;
  	left: 17px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 10px;
  	color: #94a3b8;
}
.of-5gb-used {
  	position: relative;
  	line-height: 15px;
}
.backgroundbordershadow4 {
  	align-self: auto;
  	flex: 1 1 160px;
  	min-height: 126px;
  	min-width: 0;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 12px;
  	background-color: #f8fafc;
  	border: 1px solid #e2e8f0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 16px;
  	gap: 8px;
  	font-family: 'Material Icons Outlined';
}

@media (max-width: 480px) {
	.frame-parent {
		left: 16px;
		right: 16px;
	}

	.backgroundbordershadow-parent,
	.section-storage-achievemen {
		gap: 12px;
	}

	.backgroundbordershadow,
	.backgroundbordershadow2,
	.backgroundbordershadow3,
	.backgroundbordershadow4 {
		flex-basis: 100%;
	}
}
.container21 {
  	width: 129px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.emoji-events {
  	width: 24px;
  	height: 24px;
  	position: relative;
  	line-height: 24px;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.container24 {
  	width: 129px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 18px;
  	color: #0f172a;
  	font-family: Montserrat;
}
.container25 {
  	width: 129px;
  	display: flex;
  	align-items: flex-start;
  	font-size: 10px;
  	color: #f8fafc;
}
.backgroundborder2 {
  	height: 24px;
  	width: 24px;
  	border-radius: 9999px;
  	background-color: #f7b13b;
  	border: 2px solid #f8fafc;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.text8 {
  	width: 10px;
  	height: 10px;
  	position: relative;
  	line-height: 10px;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.margin {
  	height: 24px;
  	width: 24px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	margin-left: -8px;
  	position: relative;
}
.backgroundborder3 {
  	width: 24px;
  	height: 24px;
  	border-radius: 9999px;
  	background-color: #5283ef;
  	border: 2px solid #f8fafc;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.backgroundborder4 {
  	width: 24px;
  	height: 24px;
  	border-radius: 9999px;
  	background-color: #67e595;
  	border: 2px solid #f8fafc;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.suggested-for-you {
  	position: absolute;
  	width: calc(100% - 32px);
  	top: 830px;
  	right: 16px;
  	left: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 8px 0px 0px;
  	box-sizing: border-box;
  	gap: 16px;
  	font-size: 16px;
  	color: #475569;
}
.recommended-lessons {
  	align-self: stretch;
  	position: relative;
  	line-height: 24px;
}
.container29 {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-size: 14px;
	color: #0f172a;
}
.lesson-1 {
	width: 100%;
	position: relative;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
	background-color: #f8fafc;
	border: 1px solid #f1f5f9;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 12px;
	gap: 12px;
}
.background-icon {
  	height: 56px;
  	width: 56px;
  	border-radius: 16px;
}
.container30 {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 4px;
}
.heading-4 {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container31 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 8px;
  	font-size: 10px;
  	color: #136d34;
}
.background3 {
  	border-radius: 8px;
  	background-color: #92ecb3;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 2px 6px;
}
.lesson {
  	position: relative;
  	line-height: 15px;
  	font-weight: 500;
}
.container32 {
  	display: flex;
  	align-items: center;
  	gap: 2px;
  	font-size: 12px;
  	color: #94a3b8;
}
.container-icon {
  	height: 10px;
  	width: 10px;
}
.button4 {
  	height: 30px;
  	border-radius: 16px;
  	background-color: #e2e8f0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 12px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 12px;
  	color: #2563eb;
}
.start {
  	position: relative;
  	line-height: 24px;
  	flex-shrink: 0;
}
.lesson-2 {
  	width: 100%;
  	position: absolute;
  	top: 94px;
  	left: 0px;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 16px;
  	background-color: #f8fafc;
  	border: 1px solid #f1f5f9;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	padding: 12px;
  	gap: 12px;
}
.lesson-3 {
  	width: 100%;
  	position: absolute;
  	top: 188px;
  	left: 0px;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 16px;
  	background-color: #f8fafc;
  	border: 1px solid #f1f5f9;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	padding: 12px;
  	gap: 12px;
}
.lesson-4 {
  	width: 100%;
  	position: absolute;
  	top: 282px;
  	left: 0px;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 16px;
  	background-color: #f8fafc;
  	border: 1px solid #f1f5f9;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	padding: 12px;
  	gap: 12px;
}
.floating-ai-assistant-button {
    position: absolute;
  	top: 1125px;
  	left: auto;
	right: 80px;
  	box-shadow: 5px 8px 5.5px #94a3b8;
  	border-radius: 9999px;
  	background-color: #124cc9;
  	width: 56px;
  	height: 56px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	isolation: isolate;
  	text-align: center;
    font-size: 24px;
    color: #f8fafc;
    font-family: 'Material Icons Outlined';
}
.floating-ai-assistant-button2 {
  	height: 56px;
  	width: 56px;
  	position: absolute;
  	margin: 0 !important;
  	right: 0px;
  	bottom: 0px;
  	box-shadow: 0px 0px 0px 4px #fff, 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  	border-radius: 9999px;
  	background-color: rgba(255, 255, 255, 0);
  	z-index: 0;
}
.container42 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	z-index: 1;
}
.text11 {
  	width: 24px;
  	height: 24px;
  	position: relative;
  	line-height: 24px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}




